*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    display:flex;
    gap:4px;
    flex-wrap:wrap;
  }
  .book{
    padding:10px;
    border:2px black solid;
  }
  .book img{
    height:100px;
  }
